/* bgc header #ffffff */
/* logo text #2196F3 */
/* bgc #F5F5F5 */
/* bgc our comand #F5F4FA */
/* logo text #2196F3 and #000000 */
/* h1 text #FFFFFF */
/* nav and h2 text #212121 */
/* p text #757575 */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bgc-color: #f5f5f5;
  --white-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Header */
.header {
  background-color: var(--white-color);
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web-logo {
  color: var(--accent-color);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .studio,
.site-nav .portfolio {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.adress-header .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.adress-header .link:hover,
.adress-header .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero,
.hero-title {
  color: var(--white-color);
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  font-family: inherit;
}

.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button-filter:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--accent-color);
}

.button-filter:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button-filter:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Benefits */
.benefits,
.solution-list {
  background-color: var(--primary-bgc-color);
}

.invisible-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ben-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ben-text {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.our-team {
  background-color: #f5f4fa;
}

.second-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.pre-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.descript {
  color: var(--title-text-color);
}

.team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-body {
  background-color: var(--white-color);
}

.card {
  background-color: var(--white-color);
}

.product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: var(--white-color);
}

.adress-link {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.tel,
.mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
